<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<web-app
        version="4.0"
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <servlet>
        <servlet-name>zymvc</servlet-name>
        <servlet-class>me.zy.springframe.web.servlet.v2.ZyDispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <!-- 为了简化操作，这里使用properties代替xml文件配置 -->
            <param-value>application.properties</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>zymvc</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>